<div class="about">
  <accordion>
    <accordion-group heading="常见FAQ" [isOpen]="true">
      <div class="content">
        <div class="icon">
          <img src="../../assets/img/about/faq.jpg" alt="faq">
        </div>
        <div class="img_content">
          <p>使用问卷调查工具</p>
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="创建问卷">
      <div class="content">
        <div class="icon">
          <img src="../../assets/img/about/question.jpg" alt="quesition">
        </div>
        <div class="img_content">
          <p>创建一个有效的问卷</p>
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="我的问卷">
      <p>其实你也该创建一个问卷</p>
    </accordion-group>
  </accordion>
</div>
