<sd-navbar></sd-navbar>
<div class="home">
  <carousel>
    <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
      <div class="slide-image">
        <img [src]="slidez.image" alt="img">
      </div>
      
      <div class="carousel-caption">
        <p>{{slidez.text}}</p>
      </div>
    </slide>
  </carousel>
  
  <section>
    <h2 class="hero-title">
      <span>10,145,267</span>个用户正在使用
    </h2>
    <button class="btn btn-info">创建新问卷</button>
  </section>
  <div class="divider"></div>
</div>
