
.slide-image img {
  display: block;
  height: 300px;
  width: 60%;
  margin: 0 auto;
}

section{
  text-align: center;
}
.hero-title {
  display: block;
}

.hero-title span {
  display: inline-block;
  margin-right: 20px;
  color: aquamarine;
}
